body {
    font-family: arboria,sans-serif;
	font-weight: 300;
    font-style: light; 
    background-color: rgb(3, 46, 89);
}

.banner {
    text-align: center;
	padding: 120px 20px 100px 20px; 
    background-color: rgb(3, 46, 89);
}

.banner h1 {
	font-size: 50px;
	color: rgb(233, 237, 240);
}

a {
    color: rgb(233, 237, 240);
	font-size: 52px;
    text-decoration: underline;
    text-decoration-color: rgb(233, 237, 240);
}

a:hover {
    color: rgb(233, 237, 30);
    text-decoration: underline;
    text-decoration-color: rgb(233, 237, 30);
}

.card-white {
    background-color: rgb(233, 237, 240);
    border: 3px solid rgb(3, 46, 89);
    text-align: center;
    }

.t1 { 
    margin:10px 10px 10px 10px ; 
}

.card-white h2 {
    font-size: 40px;
    text-align: center;
}

.footer {
    text-align: center;
    margin: auto;
    padding: 20px 20px; 
    background-color: rgb(3, 46, 89);
}