/* MAIN */

body {
    background-color: rgb(3, 46, 89);
    font-family: arboria,sans-serif;
    font-style: light; 
	font-weight: 300;
}

.banner {
    text-align: center;
	padding: 120px 20px 100px 20px; 
    background-color: rgb(3, 46, 89);
}

.banner h1 {
	font-size: 50px;
	color: rgb(233, 237, 240);
    line-height: 150%;
}

.banner h1 a {
	font-size: 50px;
}

.banner img {
    height: 140px;
}

a {
    color: rgb(233, 237, 240);
	font-size: 52px;
    text-decoration: underline;
    text-decoration-color: rgb(233, 237, 240);
}

a:hover {
    color: rgb(47, 139, 62);
    text-decoration-color: rgb(47, 139, 62);
}

.footer {
    text-align: center;
    margin: auto;
    padding: 20px; 
    background-color: redrgb(3, 46, 89);
}

/* DETAILS */


body {
    font-family: arboria,sans-serif;
	font-weight: 300;
    font-style: light; 
    background-color: rgb(3, 46, 89);
}

.banner-details {
    text-align: center;
	padding: 60px 0px 20px 0px; 
    background-color: rgb(3, 46, 89);
	font-size: 30px;
	color: rgb(233, 237, 240);
}

.banner-details h1 {
    font-size: 30px;
    text-decoration: none;
}

.banner-details h1 a {
    font-size: 30px;
}

.banner-details h2 {
    font-size: 20px;
    color: rgb(47, 139, 62);
}

.banner-details h2 a {
    font-size: 30px;
    text-decoration: underline dotted;
}

.banner-details h3 {
    font-size: 20px;
}

.banner-details h3 a {
    font-size: 20px;
}

.description {
    text-align: justify;
    padding: 4px;
    margin: 0px 10px 10px 10px;
}

.description h2 {
	font-size: 20px;
    text-decoration: underline;
    padding: 10px 0px 0px 0px;
	color: rgb(233, 237, 240);
}

.description h3 {
    padding: 0px;
	font-size: 20px;
	color: rgb(233, 237, 240);
}

.description a {
    color: rgb(233, 237, 240);
	font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(233, 237, 240);
}

.description a:hover {
    color: rgb(47, 139, 62);
    text-decoration: underline dotted;
    text-decoration-color: rgb(47, 139, 62);
}

.description-details {
    background: rgb(3, 46, 89);
    border: 1px solid rgba(202, 211, 218);
    margin: 10px 60px 10px 60px;
    padding: 0px 10px 0px 10px;
    border-radius: 4px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0,.1);
}

.description-details h2 {
    color: rgb(233, 237, 240);
}

.description-details h3 {
    color: rgb(233, 237, 240);
    padding: 0px 10px 8px 10px
}

.footer {
    text-align: center;
    margin: auto;
    padding: 20px; 
    background-color: redrgb(3, 46, 89);
}

.footer a {
    padding-right: 24px;
}
